body {
	background-image: url("/src/img/sitebackground0.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.pbody, a {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}

.home-page-panel-title {
	width: 50%;
	margin: auto;
	text-align: center;
	background-color: transparent;
	padding: 5px;

	position: absolute;
	left: 50%;
	top: 10%;
	transform: translate(-50%, 0%);
}

.home-page-panel-main {
	width: 50%;
	margin: auto;
	text-align: center;
	background-color: transparent;
	padding: 5px;

	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.docs-page-panel-main {
	width: 50%;
	margin: auto;
	background-color: #333;
	padding: 5px;
	text-align: center;

	position: absolute;
	left: 50%;
	top: 30%;
	transform: translate(-50%, 0%);
}

.ptitle1-bigger {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: white;
	font-size: 32px;
}

.btn-nonpri {
	transition-duration: 0.15s;
	border-radius: 10px;
	
	width: 80px;
	padding: 14px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family:'Arial';
	font-size: 14px;

	border: 3px solid #FF5959;
}

.btn-pri {
	transition-duration: 0.15s;
	border-radius: 10px;
	
	padding: 14px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family:'Arial';
	font-size: 14px;

	border: 3px solid #FF5959;
}


.btn-nonpri:link, .btn-nonpri:visited {
	background-color: transparent;
	color: white
}

.btn-pri:link, .btn-pri:visited  {
	background-color: #FF5959;
	color: white;
}

.btn-pri:hover, .btn-nonpri:hover, .btn-pri:active, .btn-nonpri:active {
	background-color: #FF5959;
	color: white;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.doc-link {
	transition-duration: 0.15s;
	font-family:'Arial';
	font-size: 18px;
}

.doc-link:link, .doc-link:visited {
	color: white
}

.doc-link:hover, .doc-link:active {
	color: cyan
}